<% console.log(waterproofingBasecoats.query); %>
<div class="container">
 <h2>Material waterproofing basecoat costs</h2>

<p>There are  <%= waterproofingBasecoats.query.length %> waterproofing basecoats. <br/>
<a href="waterproofingBasecoat/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
      <th>ID</th>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% count=0; %>
<% for (var i = 0; i < waterproofingBasecoats.query.length; i++) { %>
         <tr> <% count++; %>
         <td>
							<%=  waterproofingBasecoats.query[i]._id %>
						</td>
            <td><%=  waterproofingBasecoats.query[i].name %></td>
            <td><%=  waterproofingBasecoats.query[i].displayorder %></td>
            <td><%=  waterproofingBasecoats.query[i].price %></td>
            <td><%=  waterproofingBasecoats.query[i].unit %></td>
            <td>
							<a href="waterproofingBasecoat/delete/<%=  count%>"> Delete </a> |
							<a href="waterproofingBasecoat/details/<%= count%>"> Details </a> |
							<a href="waterproofingBasecoat/edit/<%= count %>"> Edit </a>
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
<!-- This view is managed by team 5-14 -->
<!--  Snigda,Jataprolu -->
<!-- Samyuktha,Ganga  -->
<!-- Sruthi,Palpandian -->