<% console.log(estimatePartFootages.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartFootages.query[0].entries.length %> entries. <br/>

				<a class="btn btn-info" href="estimatePartFootage/create"><i class="glyphicon glyphicon-pencil"></i> New Entry</a></p>

<table class="table" border="1">
    <thead>
      <tr>
       <th>Id</th>
       <th>Description</th>
       <th>Length(ft)</th>
       <th>Width(ft)</th>
       <th >Area(sqft)</th>


       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartFootages.query.length; i++) { 
    var totsqft=0;
     for(var j=0; j<estimatePartFootages.query[i].entries.length;j++){
        var entry = estimatePartFootages.query[i].entries[j];
        var sqft= entry.length*entry.width;
  
      %>
        <tr>
            <td> <%= entry._id %></td>
            <td> <%= entry.description %></td>
            <td> <%= entry.length %></td>
            <td> <%= entry.width %></td>
            <td bgcolor = "#CACACA"> <%= sqft %></td>
             <%totsqft+= sqft %>


            <td>

            <a href="estimatePartFootage/delete/<%=  entry._id %>" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete </a> 
			<a href="estimatePartFootage/details/<%= entry._id %>" class="btn btn-info"> <i class="glyphicon glyphicon-list-alt"></i> Details </a> 
			<a href="estimatePartFootage/edit/<%=    entry._id %>" class="btn btn-warning"> <i class="glyphicon glyphicon-edit"></i> Edit </a>

            </td>
         </tr>
         <% } %>
         <% } %>
        
         <tr> 
            <td colspan="4" bgcolor = "#ddd"> <strong> Calculated Total Square Footage:  <%=  totsqft+"sqft" %> </strong></span> </td>            
         </tr>
</tbody>
</table>
</div>

<!--This model is managed by Team 5-4
Harish Babu Achanta
Hari Kiran Akunuri
Mounika Naidu Chanati-->
