<div class="container">
 <h2>Water Proofing Cost</h2>


<table class="table" border="1">
    <thead>
      <tr>
      <th>ID</th>
      <th>Product Type</th>
      <th>usesUrethane</th>
      <th>Cost</th>
    </tr>
    </thead>
    <tbody>
         <tr>
            <td><%=  estimatePartWaterproofing._id %></td>
            <td><%=  estimatePartWaterproofing.productType %></td>
            <td><%=  estimatePartWaterproofing.usesUrethane %></td>
            <td><%=  estimatePartWaterproofing.subtotal %></td>
         </tr>
</tbody>
</table>
</div>

<div class="row">
<div class="col-md-2">
<a href="/estimatePartWaterproofing" class="btn btn-info" ><i class="glyphicon glyphicon-chevron-left"></i> Return to list</a>
</div>
<div class="col-md-10"> 
<form method="POST" action="/estimatePartWaterproofing/delete/<%= estimatePartWaterproofing._id %>">
	<button type="submit"  class="btn btn-danger pull-right" ><i class="glyphicon glyphicon-trash"></i> Delete this item</button>
</form>
</div>
</div>