
<% console.log(estimatePartWaterproofings.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartWaterproofings.query.length %> entries. <br/>
<a href="create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>Subtotal</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartWaterproofings.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartWaterproofings.query[i].subtotal %></td>
            <td><a href="estimatePartWaterproofing/delete/<%= i+1 %>">Delete</a>
            <a href="estimatePartWaterproofing/details/<%= i+1 %>">Details</a>
            <a href="estimatePartWaterproofing/edit/<%= i+1 %>">Edit</a>
            </td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
