<br/>
<br/>
<h2>Details for Flooring Estemate</h2>
<br/>
<br/>
<p>Item
	<%=  flooringEstimate._id %><br>
	<%=  flooringEstimate._type %>
</p>
<p>Client : <%=flooringEstimate.estimatePartAbout.client%></P>
<p>Created : <%=flooringEstimate.estimatePartAbout.created%></P>
<p>Address : <%=flooringEstimate.estimatePartAbout.address%></P>
<p>City : <%=flooringEstimate.estimatePartAbout.city%></P>
<p>Ztate : <%=flooringEstimate.estimatePartAbout.state%></P>
<p>zipcode : <%=flooringEstimate.estimatePartAbout.zipcode%></P>
<p>Latitude : <%=flooringEstimate.estimatePartAbout.latitude %></p>
<p>Longitude :<%=flooringEstimate.estimatePartAbout.longitude %></p><br>

<p>Floor Area </p>
<% var l,w; var t = 0; for(var k = 0; k < flooringEstimate.estimateSquareFootage.entries.length; k++){ %> 
<% l = flooringEstimate.estimateSquareFootage.entries[k].length %>
<% w = flooringEstimate.estimateSquareFootage.entries[k].width %>
<% t += (l*w); %>
<p> <%= flooringEstimate.estimateSquareFootage.entries[k].description %> :
length : <%= l %>
Width : <%= w %></p>
<% } %></p>
<p>Total Squre Footage : <%= t %></P>
<br>

<p>Floor System Type: <%= flooringEstimate.estimatePartFooring.floorSystemType%></p>
<p>Uses Urethane: <%= flooringEstimate.estimatePartFooring.usesUrethane%></p>
<p>Urethane Product Selection: <%= flooringEstimate.estimatePartFooring.urethaneProductSelection%></p><br>

<p>Uses Epoxy: <%= flooringEstimate.estimatePartFooring.usesEpoxy%></p>
<p>Expoxy Product Selection: <%= flooringEstimate.estimatePartFooring.expoxyProductSelection%></p><br>

<p>Aggregate Selection: <%= flooringEstimate.estimatePartAggregate.aggregateTypeSelection%></p><br>

<p>Labor (Total): <%= flooringEstimate.estimatePartLabor.subtotal%></p><br>
<p>Required Vehicles </p>
<% for(var i = 0; i < flooringEstimate.estimatePartMileage.entries.length; i++) {%>
<p><%= flooringEstimate.estimatePartMileage.entries[i].description %> :
   <%= flooringEstimate.estimatePartMileage.entries[i].numberOfVehicles %> </p>
<% } %></p>
<p>Total Milage Cost : <%= flooringEstimate.estimatePartMileage.subtotal%></p><br>

<p>Miscellaneous Costs </p>
<% var misCost; var totmisCost =0;; for(var j = 0; j < flooringEstimate.estimatePartMiscs.entries.length; j++){ %>
<%= flooringEstimate.estimatePartMiscs.entries[j].description %> : 
<% misCost = flooringEstimate.estimatePartMiscs.entries[j].cost; %>
<%=  misCost%></p>
<% totmisCost += misCost; %>
<% } %></p>
Total Miscellaneous Cost : <%=flooringEstimate.estimatePartMiscs.subtotal%> </p> <br>

<p>CostPerSquareFoot : $<%=flooringEstimate.costPerSquareFoot%></P>
<p>BidPerSquareFoot : $<%=flooringEstimate.bidPerSquareFoot%></P>

<form method="get" action="/flooringEstimate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<!--This model is managed by team 5-R01
Dambadeni Kalu Achchillage, Nilantha
Muralidhar Gouda Buddanagoudagari -->